[Unit]
Description=Gitea (Go Git Service)
After=syslog.target
After=network.target

[Service]
PermissionsStartOnly=true
Type=simple
User=git
Group=git
WorkingDirectory=/srv/gitea
ExecStartPre=/usr/local/bin/gitea-setup.sh
ExecStart=/usr/local/bin/gitea web
ExecStartPost=/usr/bin/wget -q --post-file=/etc/gitea/consul.json http://127.0.0.1:8500/v1/agent/service/register
Restart=always
Environment=GITEA_CUSTOM=/srv/gitea
Environment=USER=git HOME=/home/git

[Install]
WantedBy=multi-user.target
